.Button {
  background-color: var(--background-color);
  border: 1px solid var(--foreground-color);
  color: var(--foreground-color);
  cursor: pointer;
}

.Button.error {
  background-color: var(--error-color);
  border: 1px solid var(--error-color);
  color: var(--background-color);
}

.Button.primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--background-color);
}

.Button.success {
  background-color: var(--success-color);
  border: 1px solid var(--success-color);
  color: var(--background-color);
}

.Button.warning {
  background-color: var(--warning-color);
  border: 1px solid var(--warning-color);
  color: var(--background-color);
}

.Button.fab {
  border-radius: 50%;
  bottom: 1rem;
  height: 3rem;
  position: fixed;
  right: 1rem;
  width: 3rem;
}

.Button.link {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--primary-color);
  display: inline;
  padding: 0;
}
