.Nav {
  align-items: baseline;
  background-color: var(--primary-color);
  color: var(--background-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.Nav h1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.Nav li {
  display: inline-block;
}

.Nav li:not(:last-child) {
  margin-right: 0.5rem;
}

.Nav a {
  color: var(--background-color);
}

.Nav nav a {
  color: var(--background-color);
  padding: 0.5rem;
}

.Nav a.outline {
  border: 1px solid var(--background-color);
  color: var(--background-color);
}

.Nav Button.link {
  color: var(--background-color);
}
